<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TableDesignInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <clear />
    <add name="TableDesignInfo.Properties.Settings.TDK-DEV"
      connectionString="Data Source=10.247.7.108;Initial Catalog=TDK_DEV;Persist Security Info=True;User ID=sa;Password=n0pa$$wd"
      providerName="System.Data.SqlClient" />
    <add name="TableDesignInfo.Properties.Settings.TDK-DEV2"
      connectionString="Data Source=10.247.7.108;Initial Catalog=TDK_DEV2;Persist Security Info=True;User ID=sa;Password=n0pa$$wd"
      providerName="System.Data.SqlClient" />
    <add name="TableDesignInfo.Properties.Settings.Rabitflow_DV700"
   connectionString="Data Source=10.247.7.53;Initial Catalog=Rabitflow_DV700;Persist Security Info=True;User ID=sa;Password=DEV-SQL2016"
   providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <applicationSettings>
    <TableDesignInfo.Properties.Settings>
      <setting name="CommandTimeOut" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TemplateFile" serializeAs="String">
        <value>Template\データベース設計書.xlsx</value>
      </setting>
    </TableDesignInfo.Properties.Settings>
  </applicationSettings>
</configuration>